<div class = "page-header"><h2>About</h2></div>

<div class="panel panel-primary">
	<div class = "panel-body">

	<p><h5>With more than 5,000 courses in 109 academic departments, University offers 125 majors to help you define your academic path. And 70 percent of our undergraduate classes have 30 or fewer students, maximizing your personal engagement with our internationally renowned faculty.Our faculty includes Nobel Prize winners, Fulbright Scholars and a Fields Medal recipient. Classes are stimulating. Coursework is challenging.</h5>

		<h5>Our academic requirements are among the most rigorous in the nation. But once our students arrive, they have the full force of our resources behind them. There are countless opportunities for research, fellowships and internships and for connecting with major players in almost any field. Whether you want to change a life, a generation or the whole world, imagine what you can do with the resources only UCLA can provide.</h5>

		<h5>University's graduate programs have a reputation for producing professionals, researchers and leaders who have a major impact on the world. With 40 programs ranked among the best in the nation, University gives today's graduate students the resources and cutting-edge instruction they need to go out and leave their own indelible mark. And with the second largest city in the U.S. in our backyard, learning extends beyond the classroom. Engaging with the community, while being part of an academic system that is well connected and respected throughout the world, creates an educational experience that cannot be replicated anywhere else.</h5></p>
		<br />

	</div>
</div>
