 <p id="notice"><%= notice %></p>
 <% if reviewer_signed_in? %>
 <div class = "page-header"><h3>Admitted Student Applications</h3></div>

 <% @app_status = AppStatus.all %>


 <table class = "table">
  <thead>
    <tr>
      <th>Application Id</th>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @app_status.each do |app_status| %>
    <% if app_status.status == true %>
    <tr>
      <td><%= app_status.student_application_id %></td>
      <td><%= app_status.student_name %></td>
    </tr>
    <% end %>
    <% end %>
  </tbody>
</table>
<% end %>
