
<div class = "page-header"><h3>Editing Student Application</h3></div>

<% if student_signed_in? %>
<%= render 'form' %> 
<br>
<center>
	<%= link_to 'Show', @student_application, class:"btn btn-primary" %> 
	<%= link_to 'Back', welcome_index_path, class:"btn btn-primary" %> 
</center>
<% end %>
