<div class = "page-header"><h3>Editing Student Application</h3></div>

<%= render 'form' %>

<div class = "btn-group" role="group">
  <%= link_to 'Show', @student_application, class:"btn btn-default" %> 
  <%= link_to 'Back', student_applications_path, class:"btn btn-default" %> 
</div>


