<h1>New Student Application</h1>
<% if student_signed_in? %>
<%= render 'form' %>

<%= link_to 'Back', student_applications_path %>
<%= link_to 'Sign Out', destroy_student_session_path, :method => :delete %>

<% else %>
<li><%= link_to '<button type="button">Student Login</button>'.html_safe, new_student_session_path %></li>

<% end %>
