<div class = "page-header"><h3>New Student Application</h3></div>

<%= render 'form' %>

<br />
<div class = "btn-group" role="group">
  <%= link_to 'Back', student_applications_path, class:"btn btn-default" %> 
</div>

